body{
    font-family: "Helvetica Neue",sans-serif;
      font-weight: lighter;
    background-color: #161616;
}
header {
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-position: top;
    border-bottom: 50px solid #282828;
    background-attachment: fixed;
}
nav{
    position: fixed;
    width: 100%;
  letter-spacing: 1px;
  margin: 0%;
  
 }
nav ul {
    line-height: 30px;
    list-style: none; 
    color: #282828;
    margin: -1%;
    margin-left: 18%;
}
nav ul li {
    display: inline-block;
    padding: 20px 50px;
    margin-top: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #f4f4f4;
    font-size: 18px;
    font-weight: 600;
}
.menu {
    background-color:#282828;
}
.head1{
    text-align: center;
    margin-top: 300px;
    margin-right: 500px;
    font-style: italic;
    color: #f94e41;
}
.parallax5{
    margin-top: 5%;
    background-image: url("a.jpg");
    background-attachment: fixed;
    background-position: -26%;
    height: 800px;
    width: 750px;
    border: 20px solid #282828;
    border-radius: 10px;
    margin-left: 30%;
}
.future{
    margin-top: 4em;
    margin-bottom: 1em;
    margin-left: 500px;
    margin-right: 350px;
    color: white;
    text-transform: uppercase;
    line-height: 1.6;
    text-align: justify;
    text-justify: inter-word;
}
.footer2{
    padding: 50px;
    background-color: #f94e41;
    color: white;
    font-size: 30px;
    text-align: center;
}
button{
    border-radius: 10px;
    background-color: #282828;
    color: white;
    padding: 10px 20px;
}